/* Will Want To Move This To Higher Level When Out Of Storybook */
ul {
  list-style-type: none;
  padding-left: 0;
}

.document-list-container {
  overflow-y: auto;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 0.5rem rgba(0,0,0,.25);
}

::-webkit-scrollbar-thumb {
  background: #198ec6;
  border-radius: .5rem;
}
