@import "../../variables.scss";

.document-list-container {
  height: calc(100% - 12rem);
  overflow-y: auto;

  .document-list-empty {
    color: $grey;
    font-style: italic;
    padding-top: 1.5rem;
    text-align: center;
  }
}
