/* Temporary styling import because I believe Storybook is trumping the global
styles so leaving here until I move to app level (which I will probably serve locally)*/
@import url("https://fonts.googleapis.com/css?family=Quicksand");

.document-list-expanded-item.list-group-item {
  background: transparent;
  border: none;
  color: #888;
  font-size: 0.85rem;
  padding: 0.25rem 1rem 0.25rem 2rem;
  word-break: break-all;
}

.document-list-expanded-item .fa-level-up {
  transform: rotate(90deg);
}

.document-list-item-container {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.document-list-item-container .document-list-expand-button {
  float: right;
  margin: 0.5rem 1rem 0.5rem 0;
  width: 3rem;
}

.document-list-item-container .document-list-expand-button:focus {
  box-shadow: none;
}

/* Pull Expanded Content Up A Bit To Group Better With Parent */
.document-list-item-container .document-list-expanded-item:first-of-type {
  margin-top: -0.5rem;
}

/* Touch Of Spacing For Last Item In List When Expanded */
.document-list-item-container .document-list-expanded-item:last-of-type {
  margin-bottom: 0.5rem;
}

/* On Document Hover, Change Background And Cursor - Will Be Needed When Click Opens Document */
.document-list-item-container:hover,
.document-list-item-container:hover .list-group-item {
  background: #eee;
  cursor: pointer;
}

.document-list-item-name {
  display: block;
  font-size: 1rem;
  padding: 0.7rem 4.5rem 0.5rem 1rem;
  word-break: break-word;
}

.fa-file,
.fa-file-o {
  font-size: 1rem;
  margin-right: 0.75rem;
  padding-top: 0.3rem;
  vertical-align: inherit;
}

.fa-file {
  color: #555;
}

.selected {
  background: #eee;
  font-weight: bold;
}
