@import "../../variables.scss";

.document-viewer-container {
  height: calc(100% - 7rem);

  .document-viewer-empty {
    color: $grey;
    display: block;
    font-style: italic;
    padding-top: 1.5rem;
    text-align: center;
  }
}
