@import "../../variables.scss";

.save-button {
  display: inline-block;
  font-size: 2rem;
  padding-right: 0.5rem;

  &:hover {
    color: $dark;
    cursor: pointer;
    text-shadow: none;
  }
}

.cancel-button {
  display: inline-block;
  font-size: 2rem;
  padding-right: 0.5rem;

  &:hover {
    color: $dark;
    cursor: pointer;
    text-shadow: none;
  }
}

.document-edit-container {
  @include background-gradient($primary, $secondary);
  @include inset-shadow(2rem, 0.25);
  @include text-shadow(0.25rem, 0.5);
  border-top: solid 1px $light;
  font-size: 1.2rem;
  height: 3.5rem;
}
