.warning-yellow {
  color: yellow;
}

.error-red {
  color: red;
}

.info-blue {
  color: lightblue;
}

.warning-exclamation {
  font-size: 1.5em;
  padding-top: 0.2em;
  color: black;
}

.icon-hidden {
  display: none;
}

.icon-shown {
  display: inline-block;
}
