.close {
  line-height: 0.75;
  color: #777;
  float: none;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: #333;
}

.close span {
  font-size: 1.75rem;
  font-weight: bold;
}

.modal {
  font-family: "Quicksand", Helvetica, sans-serif;
}

.modal-header-text {
  display: inline;
  font-weight: bold;
  word-break: break-all;
}

.modal-title {
  padding-right: 1.25rem;
}
