@import "./variables.scss";

/* Need to define default heights for relativity */
html,
body,
#root {
  height: 100%;
}

/* Setting min-width of application and defining default font smoothing */
body {
  min-width: 1024px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove Default Styling From Lists */
ul {
  padding-left: 0;
  list-style-type: none;
}

/* Truncate Text */
.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @include inset-shadow(0.5rem, 0.25);
  background: $white;
}

::-webkit-scrollbar-thumb {
  @include inset-shadow(8px, 0.5);
  background: $light;
  border-radius: 0.5rem;
}

/* Placeholder Text Styling */
::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}
