.document-list-pane {
  border-right: solid 1px #ccc;
  display: inline-block;
  flex: 25;
}

.document-manager-container {
  display: flex;
  height: 100%;
}

.document-viewer-pane {
  display: inline-block;
  flex: 75;
}

.header {
  background: #198ec6;
  background: -moz-linear-gradient(top, #198ec6 0%, #2d4194 100%);
  background: -webkit-linear-gradient(top, #198ec6 0%,#2d4194 100%);
  background: linear-gradient(to bottom, #198ec6 0%,#2d4194 100%);
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  height: 3.5rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
